/* Importation d'une police de text personnalisé  */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* Mise en forme globale du navigateur*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind','sans-serif', serif;
    color:rgb(50, 51, 49);
    font-size: 14px;
    font-weight: 400;
}

/* Mise en forme global de la balise body */

body{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

/* Mise en forme de header  */

.navbar{
    width: 100%;
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0px 0px 50px -12px #0000001a;
    /* border-bottom: solid 0.5px lightgray; */
}

/* On donne la largeur de l'image du logo*/

.navbar #logo img{
    width: 100px;
}
/* Mise en forme de la balise ul dans le Nav*/

.navbar .menu .menuList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


/* Mise en forme des balises li se trouvant dans la navbar*/

.navbar .menu .menuList li{
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Mise en forme du formulaire de l'appel en action se trouvant dans la navbar*/

.navbar .actionsBloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* Mise en forme du bouton CTA */

.navbar .actionsBloc .contactBtn{
    padding: 10px 40px;
    outline: none;
    border: none;
    background-color: #fd8282;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

/* Bloc de input et bouton recherche */

.navbar .actionsBloc .formBloc{
    display: none;
    padding: 10px 30px 10px 5px;
    border: solid 0.5px lightgrey;
    border-radius: 40px;
}

.navbar .actionsBloc .formBloc input{
    border:none;
    outline: none;
}

/* Mise en forme du main et de l'Hero Section */

.mainContent {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

/* Hero  */

.mainContent .hero{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 30px; */
    padding: 80px 0;

}

/* Mise en forme de Hero text */

.mainContent .hero .heroText{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    width: 45%;
    padding: 10px;
}


.mainContent .hero .heroText .Titles{
    line-height: 70px;
}

.mainContent .hero .heroText .Titles h4{
    font-size: 30px;
    font-weight: 600;
}

.mainContent .hero .heroText .Titles h1{
    font-size: 70px;
    font-weight: 700;
}

.mainContent .hero .heroText .Titles h1 span{
    font-size: 70px;
    font-weight: 700;
    color: #ab0707;
}


.mainContent .hero .heroText p{
    font-size: 18px;
}

.mainContent .hero .heroText .heroBtn {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.mainContent .hero .heroText .heroBtn button{
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.mainContent .hero .heroText .heroBtn .leftBtn{
    background: #ab0707;
}

.mainContent .hero .heroText .heroBtn .rightBtn{
    background-color: #fd8282;
}

/* Mise en page de hero image */

.mainContent .hero .heroImage{
    width: 40%;
    height: 500px;
    background-color: #ab0707;
    z-index: 10;
}

.mainContent .hero .heroImage img{
    position: relative;
    left:150px;
    top:-20px;
    width: 600px;
    z-index:99;
}

/* .mainContent .hero .redBloc{
    width: 50%;
    height: 650px;
    background-color: #ab0707;
    position: absolute;
    top:250px;
    right: 10px;
    left: 50%;
    z-index: 0;
} */

@media (max-width: 680px) {


  }
